
<h3 *ngIf='currentUser'>Welcome, {{ currentUser.name }}</h3>

<div>
  <button (click)='logout()' class='float-right'>Logout</button>
  <button [routerLink]="['/create']" class='float-right'>Add a New Poll</button>
</div>
<div>
  <h2>Current Polls:</h2>
  <table>
    <tr>
      <th>User</th>
      <th>Question</th>
      <th>Date Posted</th>
      <th>Action</th>
    </tr>
    <tr *ngFor='let poll of polls'>
      <td>{{ poll.user.name }}</td>
      <td><a href [routerLink]="['/poll', poll._id]">{{ poll.question }}</a></td>
      <td>{{ poll.createdAt | date: 'short' }}</td>
      <td><button (click)="destroyPoll(poll._id)" *ngIf='currentUser._id === poll.user._id'>Delete</button></td>
    </tr>
  </table>
</div>